.main 
{
  margin-top: 200px;
  position: relative;
  z-index: 10;
}

.main-raised 
{
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
} 



/* PRODUCT CATALOG */
.catalog 
{
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
}

.catalog:before 
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 20%;
  background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
  opacity: 0.9;
  transform: skewX(-45deg);
}

.catalog:after 
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 100%;
  background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
  opacity: 0.9;
  transform: skewX(-45deg) translateX(-100%);
}

.catalog .catalog-img 
{
  position: relative;
  background-color: #E4E7ED;
  z-index: -1;
}

.catalog .catalog-img img 
{
  width: 100%;
  transition: 0.2s all;
}

.catalog:hover .catalog-img img 
{
  transform: scale(1.1);
}

.catalog .catalog-body 
{
  position: absolute;
  top: -2px;
  width: 60%;
  padding: 8px;
  z-index: 10;
}

.catalog .catalog-body h3 
{
  color: #000;
}

.catalog .catalog-body .cta-btn 
{
  color: #000;
  text-transform: uppercase;
}

.section 
{
  padding: 10px;
}

.section-title 
{
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title .title 
{
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
}

.section-title .section-nav 
{
  float: right;
}

.section-title .section-nav .nav-tabs 
{
  display: inline-block;
}

.nav-tabs li 
{
  display: inline-block;
  margin-right: 15px;
}

.nav-tabs li:last-child 
{
  margin-right: 0px;
}

.nav-tabs li a 
{
  font-weight: 700;
  color: #0350d7;
}

.nav-tabs li a:after 
{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #D10024;
  transition: 0.2s all;
}

.nav-tabs li.active a 
{
  color: #D10024;
}

.nav-tabs li a:hover:after, .nav-tabs li a:focus:after, .nav-tabs li.active a:after {
  width: 100%;
}

/* PRODUCT TAB & SLICK */
.products-tabs .tab-pane 
{
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs .tab-pane.active 
{
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick .slick-list 
{
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .product.slick-slide 
{
  margin: 15px;
}


/* HOT DEAL SECTION */
/* #hot-deal.section {
  padding: 60px 0px;
  margin: 30px 0px;
  background-color: #E4E7ED;
  background-image: url('../../Assets/img/hotdeal.png');
  background-position: center;
  background-repeat: no-repeat;
} */

.hot-deal 
{
  text-align: center;
}

.hot-deal .hot-deal-countdown 
{
  margin-bottom: 30px;
}

.hot-deal .hot-deal-countdown li 
{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #D10024e6;
  text-align: center;
  border-radius: 50%;
  margin: 0px 5px;
}

.hot-deal .hot-deal-countdown li div 
{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hot-deal .hot-deal-countdown li div h3 
{
  color: #FFF;
  margin-bottom: 0px;
}

.hot-deal .hot-deal-countdown li div span 
{
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
}

.hot-deal p 
{
  text-transform: uppercase;
  font-size: 24px;
}

.hot-deal .cta-btn 
{
  margin-top: 15px;
}

/* BEST SALE SECTION */
.product-widget 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-widget .product-img 
{
  display: block;
  width: 20%;
}

.product-widget .product-img img 
{
  width: 90%;
}

.product-widget .product-body
{
  flex: 1;
}

.product-widget .product-body .product-category 
{
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.product-widget .product-body .product-name 
{
  text-transform: uppercase;
  font-size: 12px;
}

.product-widget .product-body .product-name a 
{
  font-weight: 700;
}

.product-widget .product-body .product-name a:hover, .product-widget .product-body .product-name a:focus 
{
  color: #D10024;
}

.product-widget .product-body .product-price 
{
  font-size: 14px;
  color: #D10024;
}

.product-widget .product-body .product-price .product-old-price 
{
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

/* RESPONSIVE */
@media (max-width: 1024.99px)
{
  .main 
  {
    margin-top: 150px;
  }

  .section 
  {
    padding: 0px;
  }

  .section-title
  {
    margin: 15px 0px;
  }

  .product-widget .product-img 
  {
    width: 40%;
  }

  .product-widget .product-img img 
  {
    width: 100%;
  }
}