footer 
{
  background: linear-gradient(to right, #348AC7, #7474BF);;
  color: #B9BABC;
}

.footer 
{
  padding: 10px 0px;
}

.footer .footer-title 
{
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 50px;
}

.footer-links li+li 
{
  margin-top: 15px;
}

.footer-links li i 
{
  margin-right: 15px;
  color: #D10024;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover 
{
  color: #E71C23;
}

.footer-payments
{
  padding-top: 50px;
}

.footer-payments li 
{
  display: inline-block;
  margin-right: 5px;
}

.footer-payments li a 
{
  color: #15161D;
  font-size: 30px;
  display: block;
}

.footer-payments li i 
{
  margin-right: 15px;
  color: #2B2D42;
  width: 25px;
  text-align: center;
}

.left-section
{
  margin-left: 50px;
}

.right-section
{
  margin-right: 50px;
}