body
{
  font-family: Roboto, Arial;
  font-weight: 500;
  background-image: linear-gradient(-134deg, #FFA62E 0%, #FB962E 20%, #F8852E 40%, #F3742D 60%, #EF612D 80%, #EA4D2C 100%);
}

h1, h2, h3, h4, h5, h6
{
  color: #2B2D42;
  font-weight: 500;
  margin: 0 0 10px;
}

a 
{
  color: #2B2D42;
  font-weight: 500;
  transition: 0.2s color;
  text-decoration: none;
}

a:hover, a:focus 
{
  color: #D10024;
  text-decoration: none;
  outline: none;
}

ul, ol 
{
  margin: 0;
  padding: 0;
  list-style: none
}
