/* HEADER */

header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* TOP HEADER */

.top-header 
{
  background-image: linear-gradient(to right, #190A05, #870000);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1E1F29;
}

.top-header-links li
{
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.top-header-links li:last-child 
{
  margin-right: 0px;
}

.top-header-links li a
{
  color: #FFF;
}

.top-header-links li a:hover
{
  color: #D10024;
}

.top-header-links li i 
{
  color: #D10024;
  margin-right: 5px;
}

/* DROPDOWN MENU */

.dropdownmenu
{
  position: relative;
  display: inline-block;
}

.dropdownmenu a
{
  color: #FFF;
  font-size: 14px;
}
.dropdownmenu a i
{
  color: #D10024;
  margin-right: 5px;
}
.dropdownmenu-content 
{
  display: none;
  position: absolute;
  background-color: #15161D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownmenu-content a 
{
  color: #FFF;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdownmenu:hover .dropdownmenu-content 
{
  display: block;
}

/* MAIN HEADER */

.main-header
{
  padding-top: 15px;
  padding-bottom: 15px;
  background-image:  linear-gradient(to right, #061161, #780206);
}
.main-header-nav 
{
  display: flex;
  align-items: center;
}

/* LEFT SECTION */
.main-header-left-section 
{
  text-align: center;
}

.main-header-left-section a
{
  text-align: center;
}

.logo img 
{
  max-width: 70px;
  margin-right: 10px;
  display: inline-block;
}

.main-name, .sub-name
{
  font-family: Roboto, Arial;
  font-weight: 500;
  color: aliceblue;
}

.name
{
  display: inline-block;
  text-align: start;
}

.main-name
{
  font-size: 23px;
}

.sub-name
{
  display: block;
  font-size: 21px;
}

/* MIDDLE SECTION */
.main-header-middle-section
{
  padding: 15px 0px;
  width: 40%
}

.search
{
  display: flex; 
  justify-content: center;
}

.main-header-middle-section form 
{
  position: relative;
}

.main-header-middle-section form .search-bar
{
  border-radius: 40px 0px 0px 40px;
  width: 60%;
  margin-right: -1px;
  padding-left: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  outline: none;
}

.search-bar::placeholder
{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.main-header-middle-section form .search-btn 
{
  height: 40px;
  width: 20%;
  background: #00B4DB;
  background: linear-gradient(to bottom, #0083B0, #00B4DB);
  color: #FFF;
  font-weight: 500;
  border: none;
  border-radius: 0px 40px 40px 0px;
  transition: opacity 0.15s;
}

.main-header-middle-section form .search-btn:hover
{
  opacity: 0.9;
}

.main-header-middle-section form .search-btn:active
{
  opacity: 0.7;
}

/* RIGHT SECTION */
.main-header-right-section
{
  float: right;
  padding: 15px 0px;
}

.right-section-items
{
  display: inline-block;
  margin-right: 15px;
}

.right-section-items a
{
  display: block;
  position: relative;
  width: 90px;
  text-align: center;
  color: #FFF;
  margin: 10px auto;
}

.right-section-items a i
{
  display: block;
  font-size: 18px;
}

.right-section-items a i span
{
  font-size: 12px;
}

.qty
{
  position: absolute;
  right: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #D10024;
}

/* CART */
.cart-dropdown 
{
  position: absolute;
  width: 300px;
  background: #FFF;
  padding: 15px;
  box-shadow: 0px 0px 0px 2px #E4E7ED;
  z-index: 2;
  right: 0;
  opacity: 1;
}

.cart-dropdown .cart-list 
{
  max-height: 180px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.cart-dropdown .cart-button
{
  margin: 0px -14px -14px;
}

.cart-dropdown .cart-button a 
{
  display: inline-block;
  width: 100%;
  padding: 12px;
  color: #FFF;
  text-align: center;
  font-weight: 500;
  transition: 0.2s all;
  margin-right: -4px;
  background-color: #1e1f29;
}

.cart-dropdown .cart-button a:hover 
{
  opacity: 0.9;
}

.cart-dropdown .cart-button a i
{
  display: inline-block;
}

/* BOTTOM HEADER */
/* NAVIGATION */
.navigation 
{
  background: linear-gradient(to right, #F9D423, #FF4E50);
  border-bottom: 1px solid #E4E7ED;
  border-top: 2px solid #D10024;
}

.main-nav
{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.main-nav li 
{
  display: inline-block;
  margin-left: 50px
}

.main-nav li a 
{
  display: block;
  padding: 10px 0px;
}

.main-nav li a:hover, .main-nav li a:focus, .main-nav li.active a
{
  color: #00B4DB;
  background-color: transparent;
}

.main-nav li a:after 
{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #0083B0, #00B4DB);
  transition: 0.2s all;
}

.main-nav li a:hover:after, .main-nav li a:focus:after, .main-nav li.active a:after
{
  width: 100%;
}
