body {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}
@keyframes slide-out {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

.login-container {
display: flex;
min-height: 100vh;
background-image: url('../../Assets/img/login-bg.jpg');
background-size: cover;
background-position: right center;
/* filter: brightness(0.7); */
position: relative;
}

.login-form {
animation: slide-in 1s linear;
z-index: 100;
flex: 1;
padding: 50px;
background: white;
display: flex;
flex-direction: column;
justify-content: center;
}

.register-form {
z-index: 100;
animation: slide-out 1s linear;
flex: 1;
padding: 50px;
background: white;
display: flex;
flex-direction: column;
justify-content: center;
}

.btn-primary {
background: linear-gradient(to right, var(--primary-color), var(--accent-color));
border: none;
font-weight: 500;
}

.btn-primary:hover {
opacity: 0.9;
}

.login-form .alert {
margin-top: 20px;
font-size: 14px;
}

.bg-image {
flex: 1;
}

.bg-image::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to top, var(--neutral-color-1), white);
opacity: 0.2;
}

.login-container .bg-image img {
max-width: 100%;
}

/* Form Input Styles */
.form-control {
border-radius: 8px;
padding: 10px 15px;
font-size: 14px;
}

.label-input {
font-size: 14px;
font-weight: 500;
}

.login-links {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.login-links a {
text-decoration: none;
color: var(--accent-color);
font-weight: 500;
transition: color 0.3s;
}

.login-links a:hover {
color: var(--primary-color);
}