
/* Căn chỉnh nội dung */

html, body {
    height: 80%;
    margin-top: 50px;    
  }
  
  .main-panel {
    display: grid;
    padding-left: 50px; /* Khoảng cách bên trái */
    align-items: start; /* Căn theo chiều dọc từ trên xuống */
   
  }
  
  .content {
    width: 1500px; /* Chiều rộng phần content */
    padding: 10px;
    padding-left: 300px; /* Khoảng cách bên trái */
    transition: color 0.075s ease;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    
  }
  

.form-group {
    position: relative;
}

.form-group .input-label {
    transition: color 0.3s ease;  
}

.form-group:focus-within .input-label {
    color: #c331e7 ; /* Màu chữ khi ô nhập được chọn */
}

